# Window name
WindowName=FOnline 2238 Server

# Position of server window
# 0, 0 - center of monitor
PositionX=0
PositionY=0

# GUI size modifier
GUISize=0

# Listening port
Port=2238

# Admin panel listening port
# 0 to disable
AdminPanelPort=0

# Sleep time after every game cycle, time in milliseconds
GameSleep=0

# World saving, time in minutes
WorldSaveTime=60

# 0 - data writing directly to disk, without thread buffering
# 1 - data writing to another thread, than to disk; also automaticly deleting old world saves
WorldSaveManager=1

# If zero than system allows as many concurrently running threads as there are processors in the system
LogicThreadCount=1

# If zero then operating system automatically manage threads between cores, else affinity thread per core
LogicThreadSetAffinity=1

# Allow concurrent execution of scripts on multithreaded logic
ScriptConcurrentExecution=0

# If zero than system allows as many concurrently running threads as there are processors in the system
NetWorkThread=0

# 0 - disable, 1 - simple monitoring, 2 - deepest monitoring, 3 - more deepest monitoring
MemoryDebugLevel=0

# 0 - disable, 1 - enable logging
Logging=1

# 0 - disable, 1 - enable adding time in milliseconds to log output
LoggingTime=1

# 0 - disable, 1 - enable adding thread name
LoggingThread=0

# Type all supported languages, 0 is default language if matches not found
# Length of all languages must be 4 letter
Language_0=engl

# Interval for call stack sampling, in ms
ProfilerSampleInterval=0

# Profiler data collection mode
# 0 - Disabled, 1 - Save to file, 2 - Display in server, 3 - Both
ProfilerMode=0

# Keys for accesses
# Aviable four access mode: client (default on login), tester, moder, admin
Access_client=pass
Access_tester=pass
Access_moder=pass
Access_admin=pass
AccessNames_admin=

SqlHost=localhost
SqlUser=root
SqlPass=0123456789
SqlDB=fonline

# Mono runtime
MonoEnabled=0
MonoLibDir=mono/lib
#MonoConfigDir=mono/etc
# Assembly to load (default FOnline.Mono.exe)
#MonoAssembly=