# [Field]
# Text - Label to display with control.
# FieldName - Variable name under ProtoItem.
# ItemTab - Subtab to put item in. Valid options: Armor, Ammo, Car, Container, Drug, Door, Generic, Grid, Key, Misc, Wall, Weapon or Custom created with CreateTab
# 	If no ItemTab is specified, previous one found is taken.
# DataType - Valid options: int, int16, uint, uint16, byte, bool
# PosX - Offset control in X direction with some pixels.
# PosY - Offset control in Y direction with some pixels.
# IncX - Increase X position with this many pixels after placing control. Only available with [Common]. Default=0
# IncY - Increase Y position with this many pixels after placing control. Only available with [Common]. Default=20
# Width - Set custom width of control, only valid for integers.
# Space - Fixed space in pixels between label and numerical field.
# Min - Set min value, only valid for integers. Default=0.
# Max - Set max value, only valid for integers. Default=100.

# Special entries: 
# [Common] - Set common default parameters and position for further drawing with PosX, PosY
# [Label] ItemType, Text - Draw a label in some tab, with text.
# [CreateTab] - Create a new tab
# TopTab - (Armor .. Weapon), if non-existing is entered. If "Main" is used as argument, main panel (With "Main Info", "Ext Info" etc is chosen).
# ItemTab - Identifier, for usage by other elements.
# Text - Label of ItemTab

# Notes:
# Startposition in tab is 10,10.
# At least one empty line between each entry is needed.
# . is not allowed in any name TopTab or ItemTab name.
# All data is processed in a procedural fashion (like a script).

# Main
[Field]
ItemTab=tabPageExt
Text=Need Blueprint
FieldName=NeedBlueprint
DataType=uint16
PosX=332
PosY=200
Min=0
Max=9999

[Field]
ItemTab=tabPageExt
Text=Sneak Radius
FieldName=RevealSneakers
DataType=uint
PosX=332
PosY=224
Min=0
Max=9999

[Field]
ItemTab=tabPageExt
Text=Crafting level
FieldName=CraftLevel
DataType=int8
PosX=332
PosY=248
Min=0
Max=3

# Blueprints
[CreateTab]
TopTab=Blueprints
ItemTab=BlueprintsMain
ItemType=BLUEPRINT
Text=Main

[Common]
ItemTab=BlueprintsMain
Space=85

[Field]
Text=Blueprint Param
FieldName=Blueprint_Param
DataType=int16
Min=-1
Max=999

[Field]
Text=Blueprint Id
FieldName=Blueprint_Id
DataType=uint8
Max=31

[Field]
Text=Blueprint Level
FieldName=Blueprint_Level
DataType=uint8
Max=2

[Field]
Text=Blueprint Type
FieldName=Blueprint_Type
DataType=int8
Min=-1
Max=127

[CreateTab]
TopTab=Ingredients
ItemTab=IngredientMain
Text=Ingredient

[Common]
ItemTab=IngredientMain
Space=85

[Field]
Text=Type
FieldName=Ingredient_Type_1
DataType=uint8
Max=254

[Field]
Text=Returns
FieldName=Ingredient_Returns_1
DataType=uint16
Max=65535

[Field]
Text=Type
FieldName=Ingredient_Type_2
DataType=uint8
Max=254
PosX=200
PosY=10

[Field]
Text=Returns
FieldName=Ingredient_Returns_2
DataType=uint16
Max=65535
PosX=200
PosY=30

[Field]
Text=Type
FieldName=Ingredient_Type_3
DataType=uint8
Max=254
PosX=400
PosY=10

[Field]
Text=Returns
FieldName=Ingredient_Returns_3
DataType=uint16
Max=65535
PosX=400
PosY=30

# Armor Section
[CreateTab]
TopTab=Armor
ItemTab=ArmorCustom
Text=Custom


[Common]
ItemTab=ArmorCustom
Space=75 # 75 pixels between all labels and fields in this tab

[Label]
Text=See Custom.cfg

[Field]
Text=Armor Class
FieldName=Armor_AC
DataType=int
Min=-300

[Field]
Text=Armor Perk
FieldName=Armor_Perk
DataType=uint

[Common]
PosX=180
PosY=5
Width=50
Space=70
Max=10000
#IncX=50

[Field]
Text=DR Normal
FieldName=Armor_DRNormal
DataType=int

[Field]
Text=DR Laser
FieldName=Armor_DRLaser
DataType=int

[Field]
Text=DR Fire
FieldName=Armor_DRFire
DataType=int

[Field]
Text=DR Plasma
FieldName=Armor_DRPlasma
DataType=int

[Common]
PosX=310
PosY=5

[Field]
Text=DR Electro
FieldName=Armor_DRElectr
DataType=int

[Field]
Text=DR EMP
FieldName=Armor_DREmp
DataType=int

[Field]
Text=DR Explode
FieldName=Armor_DRExplode
DataType=int

[Common]
PosX=440
PosY=5

[Field]
Text=DT Normal
FieldName=Armor_DTNormal
DataType=int

[Field]
Text=DT Laser
FieldName=Armor_DTLaser
DataType=int

[Field]
Text=DT Fire
FieldName=Armor_DTFire
DataType=int

[Field]
Text=DT Plasma
FieldName=Armor_DTPlasma
DataType=int

[Common]
PosX=570
PosY=5

[Field]
Text=DT Electro
FieldName=Armor_DTElectr
DataType=int

[Field]
Text=DT EMP
FieldName=Armor_DTEmp
DataType=int

[Field]
Text=DT Explode
FieldName=Armor_DTExplode
DataType=int

[Field]
Text=Crit Chance
FieldName=Armor_CMCritChance
DataType=int
Min=-100
Max=100

[Field]
Text=Crit Power
FieldName=Armor_CMCritPower
DataType=int
Min=-100
Max=100

[Common]
PosX=5
PosY=100

[Label]
Text=This surface is totally scripted from Custom.cfg

# CritterType Stuff
#[CreateTab]
#TopTab=Armor
#ItemTab=ArmorCritterType
#Text=Critter Type

[Common]
ItemTab=ArmorMain
Space=100
Max=1000
PosX=195
PosY=10

[Field]
Text=CritterType Male 2
FieldName=Armor_CrTypeMale2
DataType=uint

[Field]
Text=CritterType Male 3
FieldName=Armor_CrTypeMale3
DataType=uint

[Field]
Text=CritterType Male 4
FieldName=Armor_CrTypeMale4
DataType=uint

[Common]
PosX=375
PosY=10
Space=110

[Field]
Text=CritterType Female 2
FieldName=Armor_CrTypeFemale2
DataType=uint

[Field]
Text=CritterType Female 3
FieldName=Armor_CrTypeFemale3
DataType=uint

[Field]
Text=CritterType Female 4
FieldName=Armor_CrTypeFemale4
DataType=uint

# Ammo Section
[Common]
ItemTab=AmmoMain
Space=75 # 75 pixels between all labels and fields in this tab
PosX=127
PosY=37

[Field]
Text=Dmg Mult
FieldName=Ammo_DmgMult
DataType=uint

[Field]
Text=Dmg Div
FieldName=Ammo_DmgDiv
DataType=uint

[Field]
Text=DT Div
FieldName=Ammo_DTDiv
DataType=uint

# Misc section
[CreateTab]
TopTab=Misc
ItemTab=MiscCharge
Text=Charge

[Common]
ItemTab=MiscCharge
Space=75

[Field]
Text=ChargeStart
FieldName=Misc_ChargeStart
DataType=uint16
Max=65535

[Field]
Text=ChargeMax
FieldName=Misc_ChargeMax
DataType=uint16
Max=65535

[Label]
Text=See item_misc@_Charge for example of using ChargeStart

[CreateTab]
TopTab=Misc
ItemTab=MiscTools
Text=Tools

[Common]
ItemTab=MiscTools
Space=75 # 75 pixels between all labels and fields in this tab

[Field]
Text=Skill
FieldName=Misc_ToolSkillNum
DataType=uint
Max=217

[Field]
Text=Skill Bonus
FieldName=Misc_ToolSkillBonus
DataType=uint
Min=-600
Max=600

[CreateTab]
TopTab=Weapon
ItemTab=WeaponCustom
Text=Custom

[Common]
ItemTab=WeaponCustom
Space=75 # 75 pixels between all labels and fields in this tab

[Label]
Text=See Custom.cfg

[Field]
Text=No running
FieldName=Weapon_NoRunning
DataType=bool
